#app {
  background: linear-gradient(to top, #faf3f0 0%, #f5f2ed 100%);
  border-radius: 4px;
  color: #1a0619;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.fas {
  color:rgb(87, 148, 26);
}

.Footer {
  margin-top: 15px;
}

#open-source-code,
#linkedin {
    color: #5acc0e;
    text-decoration: none;
  }

